.header {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid black;
}

.container{
  width: 100%;
  height: 800px;
}

.leftside{
  position: absolute;
  width: 250px;
  height: 100%;
  border-right: 1px solid black;
  z-index: 2;
  background-color: white;
  clear: both;
}

.btnOpenEatery{
  position: absolute;
  left: 259px;
  z-index: 2;
}

.googleMap{
  float: right;
  width: 68%; /*max:84, min:68*/
  height: 100%;
  
  background-color: lightcoral;

  z-index: 1;
}