.MyModal {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.MyModal .InnerModal {
  background: white;
  padding: 1rem;
  width: 400px;
  height: auto;
  text-align: center;
}
  
  /*여기까지 styled-component로 옮김*/
  /*css로 먼저 작성 후(자동완성편함) styled-component로 옮기기*/

.header{
  height: 60px;
}

.header .hcontent {
  font-size: 13px;
  margin: 10px auto;
  display: block;
}

hr {
  border-top: 1px solid #bbb;
  text-align: center;
}

.footer p{
  margin-bottom: 0;
}

.h3{
  margin: 10px auto;
}