<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTDMapper3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.yam.service.ManagementOwnerMapper">

	<select id="ownerStoreList" resultType="OwnerVO">
		SELECT*FROM ownerstore
	</select>

</mapper>