<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTDMapper3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bit.yam.service.ProjectListMapper">

<select id="getMyProjectList" parameterType="int" resultType="ProjectVO">

	SELECT * FROM Project WHERE userNo = #{userNo} AND shared = false

</select>

<select id="getSavedProjectList" parameterType="int" resultType="ProjectVO">

	SELECT * FROM Project WHERE userNo = #{userNo} AND shared = true

</select>

<select id="getLikedProjectList" parameterType="int" resultType="ProjectVO">

	SELECT * FROM Project WHERE projectNo IN (SELECT projectNo FROM ProjectLike WHERE userNo = #{userNo})

</select>



</mapper>